body {
    background-image: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
    background-color: #212121;
}

.main {
    max-width: 1320px;
    height: 100vh;
    margin: auto;
    padding: 20px;
}

.divSelector {
    margin-bottom: 20px;
}

#selector {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 60px;
}

#selector .rojo,
#selector .amarillo,
#selector .verde,
#selector .azul,
#selector .lila,
#selector .rosa {
    flex: 1 0 0%;
}

.seleccionado {
    padding: 10px 70px;
}

.lienzo {
    background-color: #fff;
}

.lienzo .tabla {
    width: 100%;
}

.rojo,
.amarillo,
.verde,
.azul,
.lila,
.rosa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.rojo,
.celdarojo {
    background: #ff0000;
}

.amarillo,
.celdaamarillo {
    background: #fffb00;
}

.verde,
.celdaverde {
    background: #00ff15;
}

.azul,
.celdaazul {
    background: #0011ff;
}

.lila,
.celdalila {
    background: #8c00ff;
}

.rosa,
.celdarosa {
    background: #ffc0cb;
}

.seleccionado {
    text-align: center;
}

.lienzo td {
    padding: 10px 10px;
}



/* Media queries. */
@media(max-width: 414px) {
    #selector {
        grid-template-columns: repeat(3, 1fr);
        height: 100px;
    }

    .rojo,
    .amarillo,
    .verde,
    .azul,
    .lila,
    .rosa {
        font-size: .9em;
    }
}